.home {
	padding: 56px 0 0;
	min-height: 100%;
  width: 100%;
  text-align: center;
}

.personalPhoto {
  height: 385px;
}

.separator {
  background-color: black;
  height: 3px;
  margin: 0 30px;
}

i {
  font-family: Reboto-Light;
  font-weight: 100;
}

.social {
  position: relative;
  height: 880px;
  padding: 40px 0px;
}

.home .content h1 {
  margin: 50px 0px auto;
  font-size: 2.3rem;
  color: white;
  font-family: Reboto-Light;
}

.firstSection {
  height: 1180px;
  background-color: #173d2e;
  transform: skewY(-8deg);
  margin: 100px 0;
}

.firstSection .content {
  transform: skewY(8deg);
  padding: 100px 0;
}

.secondSection {
  padding: 0 120px;
}

.secondSection h1 {
  color: black;
  font-family: Reboto-Light;
  font-weight: 100;
  font-size: 2rem;
  margin-top: 50px;
}

.resellers {
  justify-content: center;
  margin: 50px 0;
}

.reseller img {
  width: 200px;
}

@media only screen and (max-width: 600px) {
  .logo {
    height: 103px;
  }

  .secondSection {
    padding: 0 30px;
  }
}