.contact {
  text-align: center;
  margin-top: 70px;
  color: white;
  text-transform: uppercase;
  position: relative;
  background-color: #173d2e;
  padding: 20px 0 20px;
}

.contact h2 {
  font-family: Reboto-Light;
}