@font-face {
  font-family: Reboto-Light;
  src: url('/assets/fonts/RobotoSlab-ExtraLight.ttf');
}

@font-face {
  font-family: Reboto-Regular;
  src: url('/assets/fonts/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: Reboto-Bold;
  src: url('/assets/fonts/RobotoSlab-Medium.ttf');
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #F1F2EC;
  font-family: Reboto-Bold;
  letter-spacing: 1.5px;
	font-weight: 400;
	color: #003F2E;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
  height: 100%;
  width: 100%;
}

.animate__animated.animate__fadeIn {
  --animate-repeat: 2;
}

.col-md-2,
.col-md-3,
.col-md-6 {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s; 
  transition: all 0.5s;
    transition-delay: 1.2s;
  -webkit-transition-delay: 0.7s;
  -o-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

input[type=checkbox], input[type=radio] {
  float: left;
}

input[type=radio]:checked {
  background: green;
}